*{
    margin: 0;
    padding: 0;
}
:root{
    --azul-principal: #005288;
    --fundo-janela: #ccc;
}

body{
    overflow: hidden;
}
.menuPrincipal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    transition: all .2s;
}
.ocultar {
    left: -190px !important;
    transition: all .2s;
}
.menuItens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100%;
}
.btn_menuItem {
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #888;
    text-align: center;
    color: #fff;
}
.btn_menuPrincipal {
    cursor: pointer;
    border: crimson;
    width: 30px;
}
.principal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.fprincipal{
    width: 100%;
    height: 100%;
    border: none;
}

.btn_mainoper {
    background-color: var(--azul-principal);
    border-radius: 100px;
    cursor: pointer;
    width: 30px;
}

/* FORMATAÇÃO DAS GRIDES */
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-principal);
    color: #fff;
}
.colunaTituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dadosGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.colunaLinhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
/***********************************************/


/* TOPO DA JANELA */
.topoJanela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}
/***********************************************/

/* JANELA NOVO */
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.janelaPopup{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.tituloPopup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cccccc;
    background-color: var(--azul-principal);
    padding: 5px;
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.corpoPopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--fundo-janela);
    padding: 5px;
    width: 100%;
}
.rodapePopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--azul-principal);
    border-radius: 0 0 5px 5px;
    padding: 5px;
    width: 100%;
}
.btn_janelaopera{
    width: 20px;
    cursor: pointer;
}
.btn_comandopopup{
    background-color: #012d4b;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.campoForm input, .campoForm select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}


/***********************************************/
